@import "tailwindcss";

@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/yekan-bakh/YekanBakh-VF.woff2') format('woff2'),
       url('/fonts/yekan-bakh/YekanBakh-VF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakhFaNum';
  src: url('/fonts/yekan-bakh/YekanBakhFaNum-VF.woff2') format('woff2'),
       url('/fonts/yekan-bakh/YekanBakhFaNum-VF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakhNoEn';
  src: url('/fonts/yekan-bakh/YekanBakhNoEn-VF.woff2') format('woff2'),
       url('/fonts/yekan-bakh/YekanBakhNoEn-VF.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "YekanBakh", "YekanBakhFaNum", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  direction: rtl !important;
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
}
